html,
* {
	box-sizing: border-box;}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;}

body  {
  background-color: #f2f2f2;
  font-size:14px;
  font-weight: normal;;
  font-family: "PTSans Regular", sans-serif;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;}

.clearfix::after {
  content: "";
  display: table;
  clear: both;}

a {text-decoration: none;}
ul { list-style-type: none;}
h3 {font-size: 30px;}
h2 {font-size: 21px;}

.container {
 width: 1200px;
 margin: auto;
 background-color: #ffffff;
 box-shadow:  0 0 10px #e4e3e1;}

.main-nav {
  position: relative;
  padding:0;
  margin: 0;}

.main-nav a {
  color: #000000;}

.main-nav li {
  display: block;
  float:left;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  width: 240px;}

.main-nav li:nth-last-child {
  margin-right: 0;}

.main-nav li:nth-child(2) {
  margin-right:240px;}

.logo {
  display: block;
  position: absolute;
  top:0;
  left:50%;
  margin-left: -45px;}

.main-picture {
	width: 1200px;
	background-color: #ddebf4;
  background: url("img/filter-background.jpg") no-repeat,
	            url("img/group-welcome.png") no-repeat 50% 50%;}

.main-quote {
  display: block;
  width: 1200px;
  text-align: center;
  line-height: 26px;
  padding: 55px 40px;}

section .features{
  margin-left: auto;
  margin-right: auto;
  width: 1200px;}

.features {
  background-color: #81b3d2;
  color: #ffffff;}

.features-image {
  background-image: url(img/open-range.jpg) no-repeat;
  float: right;
  line-height: 0;
  width: 800px;}

.features-picture {
  background-image: url(img/canyon.jpg) no-repeat;
  line-height: 0;
  float: left;
  width: 800px;}

.features-item {
  width: 400px;
  float: left;
  text-align: center;
  padding-bottom: 44px;
  padding-top: 44px; }

.features-grey {
background-color: #eeeeee;
color: #000000;}

section .advantages {
width: 1200px;}

.advantages-item {
float: left;
width: 400px;
text-align: center;
padding-bottom: 55px;
padding-top: 55px;}

.advantages-item h2 {
font-size: 21px;}

.advantages-item:nth-last-child {
float: right;}

.recommended {
  width: 1200px;
  text-align: center;
  padding-bottom: 55px;
  padding-top: 55px;
  line-height: 24px;}

.recommended a {
  display: block;
  width: 600px;
  background-color: #766357;
  text-align: center;
  cursor: pointer;
  padding: 30px 145px;
  margin: 0 auto;
  color: #ffffff;}

section .search-hotels {
  width: 1200px }

.search-hotels form {
   display: none;
   position: relative;;
   top:50%;
   left:50%;
   margin-left: -300px;
   width: 600px;
   height: 400px;
   margin-top: -30px;
   box-shadow:  0 0 10px #e4e3e1;
 }

.search-hotels input {
  font: inherit;
  width: 350px;
  height: 40px;
  background-color: #f2f2f2;
  border: none;
  margin: 25px 20px;}

.people input {
  width: 120px;
}
.search-hotels .btn {
  display: block;
  font: inherit;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration:none;

  background-color: #81b3d2;
  border: none;
  cursor: pointer;
  padding: 20px 200px;
  margin: 0 auto;}

.direction-search label {
  width: 580;}

.direction-search label:nth-child(3),{
  float: left;
  width: 290px;}

.search-hotels button {
  width: 460px;}

.desk-choice {
  min-width: 1200px;
  margin: 0;
  background: #4e7faa url(../img/filter-sepia.jpg) no-repeat;
  padding: 30px 72px;
  color: #ffffff;}

.desk-choice-box:first-child {
  width: 25%;
  float: left;}

.desk-choice-box:nth-child(2) {
  width: 25%;
  float: left;}

.desk-choice-box:last-child {
  width: 50%;
  float: right;}


	.title {
	  margin-bottom: 9px;

	  font-weight: 600;
	  font-size: 16px;
	  line-height: 21px;
	}

	.price-controls {
	  position: relative;
	  
	  height: 36px;
	  margin-bottom: 20px;

	  font-size: 0;

	  border: 2px solid #ffffff;
	  border-radius: 2px;
	}

	.price-controls::after {
	  content: "";
	  position: absolute;
	  top: 50%;
	  left: 50%;

	  width: 2px;
	  height: 22px;

	  background: #ffffff;
	  transform: translate(-50%, -50%);
	}

	.price-controls label {
	  display: inline-block;

	  font-size: 14px;
	  line-height: 38px;
	  vertical-align: top;

	  cursor: pointer;
	}

	.price-controls .min-price,
	.price-controls .max-price {
	  width: 90px;
	  padding-left: 65px;
	}

	.price-controls input {
	  width: 50px;
	  margin: 0;

	  color: inherit;
	  font: inherit;

	  background: none;
	  border: none;
	}

	.range-controls {
	  position: relative;

	  margin-bottom: 32px;
	}

	.range-controls .scale {
	  height: 2px;

	  background: rgba(255, 255, 255, 0.3);
	}

	.range-controls .bar {
	  width: 80%;
	  height: 2px;

	  background: #ffffff;
	}

	.range-toggle {
	  position: absolute;
	  top: -9px;

	  width: 4px;
	  height: 4px;

	  background: #ababab;
	  border: 8px solid #ffffff;
	  border-radius: 50%;
	  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	  cursor: pointer;
	}

	.range-toggle:hover {
	  background: #1c4f80;
	}

	.range-toggle-min {
	  left: 0;
	}

	.range-toggle-max {
	  left: 80%;
	}

	.btn-transparent {
	  display: block;
	  margin: 0 auto;
	  padding: 6px 35px;

	  font-size: 14px;
	  line-height: 20px;
	  color: #ffffff;
	  text-transform: uppercase;

	  background: transparent;
	  border: 2px solid #ffffff;
	  border-radius: 2px;
	  cursor: pointer;
	}

	.btn-transparent:hover {
	  color: #000000;

	  background: #ffffff;
	}

.hotel-search {
  width: 1200px;
  padding: 30px 72px;
  border-bottom: 2px solid #e5e5e5; }

.results {
  float: left;
  width: 165px; }

.sorting {
  float: left;
  width: 780px;
  font-size: 12px;
  line-height: 18px;}

.sorting span {
  display: block;
  float: left;
  padding-top: 20px;}

.sorting a {
  float: left;
  padding-top: 5px;
  margin-left: 25px;
  color: #b1b1b1;
  border-bottom: 2px dotted #81b3d2}

.button-triangle {
  width: 111px;
  float: right;}

.responce {
  width: 1200px;
  padding: 30px 72px;
  border-bottom: 2px solid #e5e5e5;}

.hotel-picture {
  width: 165px;
  float: left;
  padding-right: 30px;
  padding-top: 25px;}

.substance {
  width: 780px;
  float: left;}

.substance  a {
  color: #000000;
  font-size: 21px;
  font-weight: bold;}

.hotel-links a {
  min-width: 110px;
  min-height: 30px;
  float: left;
  text-align: center;
  cursor: pointer;
  padding: 10px 5px;
  margin: 0 auto;

  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  border: none;}

.hotel-links a:first-child {
  background-color: #a3c7de;}

.hotel-links a:last-child {
  background-color: #766357;
  width: 145px;
  margin-left: 5px;}

.result {
  width: 111px;
  float: right;}

.result span {
  display: block;
  background-color: #f2f2f2;
  width: 111px;
  padding: 10px 5px;
  box-sizing: border-box;
  color: #666666;}

footer {
 width: 1200px;
 min-height: 120px;
 padding: 35px 72px;
 background-color: #f9fbf6;
 }

.box {
float: left;
width: 352px;}

.box:first-child a {
font: inherit;
font-size: 21px;
font-weight: bold;
line-height: 26px;
color: #000000;}

.box:nth-child(2) {
position: relative;}

.box:nth-child(2) a:first-child,
.box:nth-child(2) a:nth-child(2),
.box:nth-child(2) a:last-child {
  position: absolute;
  top:50%
  left: 50%;
  width: 50px;
  height: 50px;
  background: #81b3d2 url("img/sprite.png") no-repeat;
  background-position: 0, 100px;}

.box:last-child {
  float: right;
  margin-right: 0;}

.box:last-child span {
  display: block;
  float: left;
  margin-right: 10px;
}
